.topbanner{
  background-color: #aa77aa;
  height:100px;
  margin:0px;

}
body{
  margin:0px;
}

h1{
  margin:0px;
}

ul{
  margin:0px;
}
.linkstuff li:after{
  padding-right: 7px;
  content: " | ";
}


.topname{
background-color:inherit;
margin-top:35px;
font-size:26px;
margin-right:250px;
float:left;
padding-left:10px;
}

.linkstuff{
  float:left;
  color:black;
  margin-top:35px;
  margin-left:30px;
}

.socialmedia i{
  margin-left:300px;
}

.mainbanner{
  height: 300px;
  background: url("../img/garchompwall.png");
  background-size:cover;
  background-attachment: fixed;
  text-align:center;
}
.mainbanner h1{
  font-size:50px;
  padding-top: 100px;
  margin:0px;
  font-family:serif;
}


#skillpart h2{
  margin:0px;
}

#skillpart{
  background-color:#997799;
  height:400px;
}

.sectbox{
  height:280px;
  width:300px;
  float:left;
  padding:5px;
  margin-right:7%;
  margin-left:2%;
  margin-top:1%;
  border: 3px solid;

}
.sectbox h2{
  text-align:center;
}
.sectbox p{
  text-align:justify;
}

.majestic{
height:500px;
background-color:blue;

}

.majestic p{
  margin:0px;
  padding-top:10px;
  margin-left:10%;
  float:left;
  width:400px;
}

.majestic img{
  float:left;
  margin:0px;
  width:350px;
  padding: 40px;
  border-radius:100%;
}

#blurb{
  width:600px;
  margin-top:85px;
  margin-left:200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:10px;
  text-align: justify;
  border: 1px dashed;
  float:left;
}

.boxlabel{
margin:0px;
width:500px;
}

.footerthing{
  background-color: #aa77aa;
  height:200px;
}
#copydisclaimer{
  margin: 0px 15px 0px 45%;
  padding-top:40px;
  text-shadow: 0 1px 0 #ccc,
             0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
}
.spacingstuff{
  margin:0px;
  margin-right:45%;
  float:left:
}
.footicon {
    /*display: inline-block;*/
    float:left;
    margin-right: 5px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left:45%;
    font-size: 50px;
}
.footicon i{
padding:4px;
margin-left:3px;
}
.footicon2 {
    display: inline-block;
    float:left;
    margin-right: 5px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 50px;
}
.footicon2 i{
  padding:4px;

}
.headicon {
  float:left;
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 50px;
    margin-left:33%;
}

.videostuff {
  width:1147px;
  height:650px;
  background-color:purple;
  padding-left:15%;
}
#cartesianvideo{
background-color:purple;
width:800px;
height:500px;
frameborder="0";
allowfullscreen;
margin-top:20px;


}

.rudderbutt{
height:500px;
background-color: #313C74;;
}
.rudderbutt img{
  margin-left:27%;
  margin-top:20px;
}
.rudderbutt p{
  text-align: center;
  margin-top:20px;
}


/* Testing gh pages */

.textboxes{
  height:30px;
  width:50%;
  float:left;
  margin-left:150px;
}
.contactinfo
{
  height:430px;
  width:1347px;
  background-color: #aa63aa;
}

.textboxes form{
  width:700px;
  height:400px;
  float:left;
}
.textboxes form input{
width:450px;
margin-bottom:5px;
}
.textboxes form textarea{
  width:450px;
  height:130px;
}
.textboxes form h2{
  margins:0px;
  height:10px;
  color:white;
}
.textboxes form h5{
  margins:0px;
  height:10px;
  color:white;
}
.textboxes form button {
    width: 150px;
    height: 50px;
    background-color: #313C74;
    border: 1px solid #313C74;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
}
.finallist{
  height:150px;
  width:400px;
  float:right;
  margin-top:50px;
  margin-right:300px;
}

.finallist ul{
  list-style: none;
  font-size:25px;
  color:white;
  font-family: sans-serif;
}
